fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20

tensorflow==2.16.1
keras==3.3.3
numpy==1.26.4
pillow==11.0.0
opencv-python-headless==4.10.0.84

protobuf==4.25.3
tensorboard==2.16.2
ml-dtypes==0.3.2
h5py==3.12.1

requests==2.32.3
gdown==5.2.0
